header{
    background-color: aqua;
}

nav{
    background-color: red;
}

body{
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: pink;
}
section{
    background-color: green;
}
article{
    background-color: grey;
}
aside{
    background-color: yellow;
}